* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: CPN, sans-serif;
}

body {
  background-color: #f9fafb;
}

header {
  background-color: #1565c0;
  color: white;
  text-align: center;
  padding: 20px 0;
}

main {
  padding: 20px;
  text-align: center;
}

.election-choice h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

button {
  font-size: 18px;
  padding: 15px 20px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 90%;
  max-width: 600px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0d47a1;
}
